text.biotea-topic-label, text.biotea-legend-label {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: black;
}

div.biotea_tooltip {
    z-index: 50000;
    position: absolute;
    text-align: left;
    min-width: 100px;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    background: white;
}
.biotea_tooltip_table {
    border: 1px solid grey;
    font-weight: lighter;
    font-size: .8em;
    font-family: Calibri, sans-serif;
}
.biotea_tooltip_header {
    background: grey;
    color: white;
    padding: 3px;
}

.biotea_tooltip_body {
    background: lightgrey;
    color: black;
    padding: 3px;
}

.biotea_node, .biotea_query_node{
    stroke: blue;
    fill: blue;
    cursor: pointer;
}

.biotea_query_node {
    stroke: red;
    fill: red;
    cursor: pointer;
}

.biotea_node circle, .biotea_query_node circle {
    stroke-width: 1px;
    fill-opacity: 0.7;
}

.biotea_node text, .biotea_query_node text {
    stroke-width: 0px;
    pointer-events: none;
    font: 10px sans-serif;
}

.biotea_link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1
}
